<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Eliminar cliente</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div>
			<p>¿Esta seguro que desea eliminar este registro?</p>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-success" (click)="modal.close('Save click');onSubmit();">Eliminar</button>
	</div>
</div>
